<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1>
	           welcome to
	             <i class="fas fa-book"></i>Bookers !!
            </h1>
        </div>
    </div>

<div class="row">
	<div class="col text-left">
		<p>
	       In
	        <i class="fas fa-book"></i>Bookers,
        </p>
    </div>
</div>
<div class="row">
	<div class="col text-left">
		<p>you can share and exchange your opinions , inpressions , and emotions</p>
		<p>about varioius books!</p>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		<%= link_to'Log in',new_user_session_path, class:"btn btn-info btn-block"%>
		<%= link_to'Sign Up',new_user_registration_path, class:"btn btn-success btn-block"%>
    </div>
</div>
</div>





